<h1>오늘 하루의 가장 기억에 남는 일을 써보세요 :)</h1>
<p> 글을 쓰고 제출을 누르세요 </p>

<form action="/home/create" method="post">
  제목: <input type="text" name="title"><br>
  내용: <input type="text" name="content"><br>
  <br>
  <input type="submit" value="제출">
</form>         
